body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table{
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}

table td, table th{
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover{
    background-color: black;
    color: white;
}

table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}